@import "./src/styles/vars";

@keyframes createBox {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.App {
    text-align: center;
    position: relative;
    padding-block-start: 300px;
    min-height: 100vh;
    background-color: $color-background;
    color: $color-primary-text;

    &__enter {
        animation: enterTextMove 1s forwards;
        animation-delay: 3s;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        color: $color-primary-text;
        text-decoration: none;
    }

    &__enter-text {
        font-size: 40px;
    }

    &__user {
        position: absolute;
        right: 50px;
        top: 30px;
    }

    &__folders {
        min-height: 40vh;
        background-color: rgba($color-secondary-text, .2);
        animation: createBox .25s;
        padding: 40px 40px 40px 40px;
    }

    &__logo {
        height: 150px;
        width: 150px;
        pointer-events: none;
        animation: App-logo-spin infinite 20s linear;
    }

    &__wrapper {
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
}



@media (prefers-reduced-motion: no-preference) {
    .App {
        &__logo {
            height: 150px;
            width: 150px;
            pointer-events: none;
        }
    }
}


.App-link {
    color: $color-highlight;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes enterTextMove {
    0% {
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        left: 160px;
        top: 50px;
        transform: translate(-50%, -50%) scale(0.5);
    }
}
