@import "/src/styles/vars.scss";

.folders {
    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    &__folder {
        color: $color-highlight;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: rgba($color-highlight, .8);
        }

        .svg-inline--fa {
            width: 30px;
            height: 30px;
            margin-block-end: 10px;
        }
    }
}
